
---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
import { getCollection } from 'astro:content';

const posts = (await getCollection('blog')).sort(
	(a, b) => a.data.pubDate.valueOf() - b.data.pubDate.valueOf()
);
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
		<style>
			main {
				font-size: 16px;
			}
			h1 {
				font-size: 5em;
			}
			@keyframes blink {
				50% {
					opacity: 0;
				}
			}
			h1::after {
				content: '';
				margin-left: 0.1em;
				display: inline-block;
				width: 0.1em;
				height: 1em;
				position: relative;
				bottom: -0.1em;
				background-color: var(--link-color);
				animation: blink 1s step-start 0s infinite;
			}
			img {
				border-radius: 100px;
				position: absolute;
				z-index: 0;
				left: calc(30% - 250px);
				top: 15%;
				height: 400px;
				filter: blur(0.1px) sepia(0.5) brightness(0.4) contrast(0.9);
				mix-blend-mode: lighten;
			}
			section {
				max-width: 45ch;
				margin-left: 30%;
				line-height: 1.6;
			}
			.callout {
				background-color: #254ddc;
				position: relative;
				z-index: 1;
				line-height: 1.5;
				padding: 1em;
				border-radius: 1em;
				display: block;
			}
			@media (max-width: 820px) {
				section {
					margin: auto;
					padding-top: 1em;
				}
				img {
					visibility: hidden;
				}
			}
		</style>
	</head>
	<body class="index">
		<Header />
		<main>
			<section>
				<h2>Hello... Is it me you're looking for?</h2>
				<p class="callout">📣 Right now, I'm taking a breather and pursuing some of my technical interests but am tentatively considering new opportunities. Want to work with me? Hit me up via <a href="mailto:zahratee@gmail.com">email</a> or <a href="https://www.linkedin.com/in/zahratraboulsi/">LinkedIn</a>.
				<p>Most recently, I worked on frontend infrastructure at <a href="https://amplitude.com/">Amplitude</a> after a couple of years in the Data Governance team, where I garnered a reputation for productivity and esoteric bug-slaying. I've also worked at companies like <a href="https://www.bloomberg.com/professional/products/bloomberg-terminal/access/bloomberg-professional-app/">Bloomberg</a>, <a href="
Synthace: the Life Science Experiment Platform for R&D teams

Synthace
https://www.synthace.com">Synthace</a> and <a href="https://www.hashicorp.com/">HashiCorp</a>. Before all that, I studied Computer Science at UCL.</p>
				<p>While I'm at home with sinking my teeth into interesting technical problems, I also like to zoom out and think strategically about how to cultivate effective engineering practice and culture inside organisations as they grow and shift over time. You can find some writing on that on my <a href="/blog">blog.</a></p>
			</section>
		</main>
		<img src="/moi.jpg" />
	</body>
</html>
