---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
---

<!doctype html>
<html lang="en">
    <head>
        <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
        <style>
            main {
                font-size: 16px;
            }
            h1 {
                font-size: 5em;
            }
            @keyframes blink {
                50% {
                    opacity: 0;
                }
            }
            h1::after {
                content: "";
                margin-left: 0.1em;
                display: inline-block;
                width: 0.1em;
                height: 1em;
                position: relative;
                bottom: -0.1em;
                background-color: var(--link-color);
                animation: blink 1s step-start 0s infinite;
            }
            img {
                border-radius: 100px;
                position: absolute;
                z-index: -1;
                left: calc(((100% - 45ch) / 3));
                top: 5em;
                height: 400px;
                filter: blur(0.1px) sepia(0.5) brightness(0.4) contrast(0.9);
                mix-blend-mode: lighten;
            }
            .about {
                max-width: 45ch;
                margin-left: calc(((100% - 45ch) / 2) + 90px);
                line-height: 1.6;
            }

            @media (max-width: 720px) {
                img {
                    visibility: hidden;
                }
                .about {
                    margin: 0 auto;
                }
            }
        </style>
    </head>
    <body class="index">
        <Header />
        <main>
            <section class="about">
                <h2>Hey, I'm Zahra.</h2>
                <p>
                    I'm a software engineer based in London, UK with 9 years of
                    experience: mostly for web, with a mix of product
                    engineering and engineering enablement. Right now I'm
                    working on AI-native dev tooling and co-leading the Product
                    Infra team at <a href="https://tessl.io/">Tessl</a>.
                </p>
                <p>
                    Previously, I worked on frontend infrastructure at <a
                        href="https://amplitude.com/">Amplitude</a
                    > after a couple of years in the Data Governance team, where
                    I garnered a reputation for productivity and esoteric bug-slaying.
                    I've also worked at companies like <a
                        href="https://www.bloomberg.com/professional/products/bloomberg-terminal/access/bloomberg-professional-app/"
                        >Bloomberg</a
                    >, <a href="https://www.synthace.com">Synthace</a> and <a
                        href="https://www.hashicorp.com/">HashiCorp</a
                    >. Before all of that, I studied Computer Science at UCL.
                </p>
                <p>
                    While I'm at home with sinking my teeth into interesting
                    technical problems, I also like to zoom out and think
                    strategically about how to cultivate effective engineering
                    practice and culture inside organisations as they grow and
                    shift over time. You can find some writing about that on my <a
                        href="/blog">blog</a
                    >.
                </p>

                <p>
                    If you do happen to find any of that captivating enough to
                    want to get in touch, you can <a
                        href="mailto:zahratee@gmail.com">email me</a
                    >.
                </p>
            </section>
        </main>

        <img src="/moi.jpg" />
    </body>
</html>
