---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import PostList from '../components/PostList.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
		<style>
			main {
				display: flex;
				width: 820px;
				margin: 10vh auto;
				align-items: center;
			}
			h1 {
				font-size: 4.5em;
				display: inline-block;
				line-height: 0.5em;
				margin-bottom: 0.5em;
			}
			@keyframes blink {
				50% { opacity: 0; }
			}
			h1::after {
				content: '';
				margin-left: 0.1em;
				display: inline-block;
				width: 0.1em;
				height: 1em;
				position: relative;
				bottom: -0.1em;
				background-color: var(--link-color);
				animation: blink 1s step-start 0s infinite;
			}
			.intro {
				flex: 0 0 400px;
			}
			.intro h2 {
				font-weight: 400;
				font-size: 1.25em;
				margin-bottom: 0;
			}
			@media (max-width: 840px) {
				main {
					margin-top: 0;
					width: 100%;
					flex-direction: column;
				}
				.intro h1 {
					font-size: 3.5em;
				}
				.intro h2 {
					font-size: 1.5em;
				}
				.intro h3 {
					margin-top: 2em;
					font-size: 1.25em;
				}
				.intro {
					flex-basis: unset;
					margin: 2.5em 0;
				}

			}
		</style>
	</head>
	<body class="index">
		<Header hideTitle />
		<main>
			<section class="intro">
				<h1>Zahra Traboulsi</h1>
				<h2>Software engineering, design and miscellaneous pursuits</h2>
			</section>
			<PostList title="Recent Posts" limit={4}/>
		</main>
	</body>
</html>
