---
---
	<style>
	.callout {
		background-color: #254ddc;
		position: relative;
		z-index: 1;
		line-height: 1.5;
		padding: 1em;
		border-radius: 1em;
		display: block;
	}
	</style>
		
<p class="callout"><slot /></p>