---
import { getCollection } from "astro:content";
import FormattedDate from "./FormattedDate.astro";

const { title, limit } = Astro.props;

const posts = (await getCollection('blog')).sort(
	(a, b) => a.data.pubDate.valueOf() - b.data.pubDate.valueOf()
);

---

<style>
    .posts {
        max-width: 720px;
    }
    .posts table {
        width: fit-content;
        border-collapse: separate;
        border-spacing: 0 0.75em;
    }
    .date {
        width: 9ch;
        font-weight: 300;
    }
    tr {
        vertical-align: top;
    }
   
    @media (max-width: 400px) {
        li {
            flex-direction: column;
        }
        .date {
            font-size: 0.8em;
            width: 10ch;
        }
        ul li a {
            margin-left: 0;
        }
    }
</style>

<section class="posts">
    <h3>{title ?? 'Posts'}</h3>
    <table>
        <tbody>
        {
            posts.slice(0, Math.min(limit ?? Number.MAX_SAFE_INTEGER, posts.length)).map((post) => (
                <tr>
                    <td class="date"><FormattedDate date={post.data.pubDate} /></td><td class="title"><a href={`/blog/${post.slug}/`}>{post.data.title}</a></td>
                </tr>
            ))
        }
        {
            limit && posts.length > limit ? <tr><td colspan="2"><a href="/blog">See more</a></td></tr> : undefined
        }
        </tbody>
    </table>
</section>